
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
}

.intro {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.intro h2 {
    margin-top: 0;
    font-size: 2em;
    color: #1b97df;
}

.intro p {
    margin: 20px 0;
    line-height: 1.8;
    color: #555;
    font-size: 1.1em;
}

.intro p:first-of-type {
    margin-top: 0;
}

.intro p:last-of-type {
    margin-bottom: 0;
}

.intro .cta {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: #071c91e5;
}
#TESTE{
    text-align: center;
}
